<div class="container bg-dark my-5">
  <div class="row justify-content-around">
    <div class="col-lg-4">
      <h3 class="p-4 text-white">Git In Touch</h3>
      <ul class="list-unstyled ps-4">
        <li class="my-2 text-white">
          <i class="fa fa-mail me-1"></i> marwa@gamil.com
        </li>
        <li class="my-2 text-white">
          <i class="fa fa-chevron-right me-1"></i> Collection
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-dark text-white border-white ms-5 px-3" href="#" style="margin-top: 5rem">CONTACT ME</a>
    </div>
    <div class="col-lg-4">
      <ul class="list-unstyled ps-4">
        <li class="text-white" style="margin-top: 5rem">
          <i class="fa fa-mail me-1 pt-5"></i>
        </li>
        <li class="my-3 text-white">
          <i class="fa fa-chevron-right me-1"> </i>
          Capyright@2022
        </li>
      </ul>
    </div>
  </div>
</div>
