<div class="container my-5">
  <div class="row">
    <div class="col-lg-3 flex-s align-middle fs-1">
      <p>About Me</p>
    </div>
    <div class="col-lg-9">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
        doloribus repellendus temporibus, voluptatum mollitia ab?Quos ad optio
        error deserunt deleniti quibusdam hic corrupti vero, maiores saepe eum,
        corporis unde. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptas doloribus repellendus temporibus, voluptatum mollitia ab?Quos
        ad optio error deserunt deleniti quibusdam hic corrupti vero, maiores
        saepe eum, corporis unde Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Voluptas doloribus repellendus temporibus, voluptatum
        mollitia ab?Quos ad optio error deserunt deleniti quibusdam hic corrupti
        vero, maiores saepe eum, corporis unde Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Voluptas doloribus repellendus temporibus,
        voluptatum mollitia ab?Quos ad optio error deserunt deleniti quibusdam
        hic corrupti vero, maiores saepe eum, corporis unde.
      </p>
      <a class="pt-2 mt-3 btn btn-dark text-white" href="../../assets/files/Marwa.txt" download="">Download CV</a>
    </div>
  </div>
</div>
